name: Terraform Backend Check

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Terraform Plan Validation"]
    types:
      - completed
  push:
    branches: [main]

jobs:
  backend-check:
    if: >
      github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Backend Environment File
        run: |
          ENV_FILE=environments/backend/backend.tfvars
          if [ ! -f "$ENV_FILE" ]; then
            echo "Backend TFVARS File Missing"
            exit 1
          fi
          echo "Found Backend.tfvars"

        # Azure Authentication
      - name: Azure Login
        run: |
          az login --service-principal \
            -u ${{ secrets.AZURE_CLIENT_ID }} \
            -p ${{ secrets.AZURE_CLIENT_SECRET }} \
            --tenant ${{ secrets.AZURE_TENANT_ID }}
          az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Load Backend Variables
        run: |
          RG=$(grep -E '^resource_group_name' environments/backend/backend.tfvars | awk -F'=' '{print $2}' | xargs)
          SA=$(grep -E '^storage_account_name' environments/backend/backend.tfvars | awk -F'=' '{print $2}' | xargs)
          CONTAINER=$(grep -E '^storage_container_name' environments/backend/backend.tfvars | awk -F'=' '{print $2}' | xargs)
          KEY=$(grep -E '^state_key' environments/backend/backend.tfvars | awk -F'=' '{print $2}' | xargs)

          RG="${RG//$'\r'/}"
          SA="${SA//$'\r'/}"
          CONTAINER="${CONTAINER//$'\r'/}"
          KEY="${KEY//$'\r'/}"

          echo "RG_NAME=$RG" >> $GITHUB_ENV
          echo "STORAGE_ACCOUNT_NAME=$SA" >> $GITHUB_ENV
          echo "STORAGE_CONTAINER_NAME=$CONTAINER" >> $GITHUB_ENV
          echo "STATE_KEY=$KEY" >> $GITHUB_ENV

        # Backend Variables Value
      - name: Backend Variables Values
        run: |
          echo "resource_group_name=$RG_NAME"
          echo "STORAGE_ACCOUNT_NAME=$STORAGE_ACCOUNT_NAME"
          echo "STORAGE_CONTAINER_NAME=$STORAGE_CONTAINER_NAME"
          echo "STATE_KEY=$STATE_KEY"

      - name: Check Terraform Backend Exists
        shell: bash
        run: |
          set -e

          echo "Checking Terraform Backend"
          echo "RG        : $RG_NAME"
          echo "Storage   : $STORAGE_ACCOUNT_NAME"
          echo "Container : $STORAGE_CONTAINER_NAME"
          echo "State Key : $STATE_KEY"

          # Storage Account
          echo "Checking Storage Account..."
          az storage account show \
            --name "$STORAGE_ACCOUNT_NAME" \
            --resource-group "$RG_NAME" \
            --output none

          # Container
          echo "Checking Container..."
          az storage container show \
            --name "$STORAGE_CONTAINER_NAME" \
            --account-name "$STORAGE_ACCOUNT_NAME" \
            --auth-mode login \
            --output none

          # State Key
          echo "Checking State Key..."
          set +e
          BLOB_EXISTS=$(az storage blob exists \
            --container-name "$STORAGE_CONTAINER_NAME" \
            --name "$STATE_KEY" \
            --account-name "$STORAGE_ACCOUNT_NAME" \
            --auth-mode login \
            --query exists \
            --output tsv)
          set -e

          if [[ "$BLOB_EXISTS" != "true" ]]; then
            echo "Terraform State Key Does Not Exist"
            echo "Backend Bootstrap Is Required"
            exit 1
          fi

          echo "Terraform Backend And State Key Exist"

  trigger-production-deployment:
    name: Trigger Production Deployment
    runs-on: ubuntu-latest
    needs: backend-check
    steps:
      - name: Production Workflow Trigger
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: "terraform-production-deployment.yml",
              ref: "main"
            });
